body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
}

.container {
    box-sizing: border-box;
    width: 600px;
    height: 800px;
    border: 5px solid black;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}