@import url('fonts.googleapis.com');

body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
}

.container {
    box-sizing: border-box;
    width: 600px;
    height: 800px;
    background-color: lightslategray;
    padding: 30px;
    border: 5px solid black;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.display {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    color: black;
    font-weight: 500;
    font-family: 'Roberto', sans-serif;
    font-size: 50px;
    box-sizing: border-box;
    background-color: white;
    height: 200px;
    padding: 30px;
    border: 5px solid black;
    border-radius: 30px;
}

.buttons {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.row {
    flex: 1;
    display: flex;
    gap: 20px;
    width: 100%;
}

button {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white !important;
    border: 5px solid black;
    border-radius: 30px;
    font-size: 24px;
    cursor: pointer;
    font-family: 'Roberto', sans-serif;
    font-size: 30px;
    box-sizing: border-box;
}

.delete {
    background-color: lightcoral !important;
}

.clear {
    background-color: lightskyblue !important;
}