@import url('fonts.googleapis.com');

body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
}

.container {
    box-sizing: border-box;
    width: 600px;
    height: 800px;
    background-color: lightslategray;
    padding: 30px;
    border: 5px solid black;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
}

.display {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    color: black;
    font-weight: 700;
    font-family: 'Roberto', sans-serif;
    font-size: 50px;
    box-sizing: border-box;
    background-color: white;
    height: 200px;
    padding: 30px;
    border: 5px solid black;
    border-radius: 30px;
}